h1 {
	text-align: center;
	font: bold 50px arial, sans-serif;
	color:SlateBlue;
}

#quote{
	font-style: italic;
	text-align: center;
	border-style: solid;
	border-bottom-color:red;
}

#work {
	background-color:Bisque;
	color:red;
	}
#ed {
	background-color:Red;
	color:Bisque;
}

div{padding-left: 20px;
}
img {
	width:50%;
    	display: block;
	margin-left: auto;
	margin-right: auto 
	
}
body {
	background-color:Bisque;
}
